.page-not-found {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    ._content {
        text-align: center;
        .__title {
            font-size: 5rem;
            font-weight: 200;
            line-height: 1.5;
        }
    
        .__message {
            font-size: 2rem;
            font-weight: 100;
            line-height: 1;
        }
    }

    

    @include medium-size-screen {
        flex-direction: row;

        ._content {
            text-align: left;
        }
    }
  
    @include large-size-screen {
    }
  
    @include xtra-large-size-screen {
    }
}