.weather-switch {
  .custom-switch {

    .custom-control-input:checked~.custom-control-label::after {
      background-color: #fff;
      transform: translateX(1.75rem);
    }

    .custom-control-label {
      font-size: 1.2rem;
      font-weight: 100;
      padding-top: 0.5rem;
      padding-left: 0.5rem;
      line-height: 1.15;



      &::before {
        border-radius: 1.5rem;
        height: 2rem;
      }

      &::after {
        width: calc(2rem - 4px);
        height: calc(2rem - 4px);
        border-radius: 1.5rem;
      }
    }
  }

}