/* ==========================================================================
   Typography
   ========================================================================== */
/**
* Color
*/
.txt-white {
    color: $color-white;
}

.txt-black {
    color: $color-black;
}

/**
* Infochoice
*/

.txt-color-primary {
    color: $color-primary;
}

.txt-color-secondary {
    color: $color-secondary;
}


/**
* Aqua
*/

.txt-color-aqua-dark {
    color: $color-aqua-dark;
}

.txt-color-aqua-base {
    color: $color-aqua-base;
}

.txt-color-aqua-light {
    color: $color-aqua-light;
}

/**
* Orange
*/

.txt-color-orange-dark {
    color: $color-orange-dark;
}

.txt-color-orange-base {
    color: $color-orange-base;
}

.txt-color-orange-light {
    color: $color-orange-light;
}


/**
* Grey
*/

.txt-color-grey-darkest {
    color: $color-grey-darkest;
}

.txt-color-grey-darker {
    color: $color-grey-darker;
}

.txt-color-grey-dark {
    color: $color-grey-dark;
}

.txt-color-grey-base {
    color: $color-grey-base;
}

.txt-color-grey-light {
    color: $color-grey-light;
}

.txt-color-grey-lighter {
    color: $color-grey-lighter;
}

.txt-color-grey-lightest {
    color: $color-grey-lightest;
}

/* ==========================================================================
   Backgrounds
   ========================================================================== */

/**
* Color
*/
.bg-white {
    background-color: $color-white;
}

.bg-black {
    background-color: $color-black;
}

/**
* Infochoice
*/

.bg-color-primary {
    background-color: $color-primary;
}

.bg-color-secondary {
    background-color: $color-secondary;
}



/**
* Aqua
*/

.bg-color-aqua-dark {
    background-color: $color-aqua-dark;
}

.bg-color-aqua-base {
    background-color: $color-aqua-base;
}

.bg-color-aqua-light {
    background-color: $color-aqua-light;
}

/**
* Orange
*/

.bg-color-orange-dark {
    background-color: $color-orange-dark;
}

.bg-color-orange-base {
    background-color: $color-orange-base;
}

.bg-color-orange-light {
    background-color: $color-orange-light;
}


/**
* Grey
*/

.bg-color-grey-darkest {
    background-color: $color-grey-darkest;
}

.bg-color-grey-darker {
    background-color: $color-grey-darker;
}

.bg-color-grey-dark {
    background-color: $color-grey-dark;
}

.bg-color-grey-base {
    background-color: $color-grey-base;
}

.bg-color-grey-light {
    background-color: $color-grey-light;
}

.bg-color-grey-lighter {
    background-color: $color-grey-lighter;
}

.bg-color-grey-lightest {
    background-color: $color-grey-lightest;
}